<div ng-include="'components/navbar/navbar.html'"></div>

<div layout="row" layout-margin style="width:100%">
  <div class="eventsPortal" style="width:97%">
    <md-toolbar class="md-theme-light">
      <h2 class="md-toolbar-tools">
        <span>Registrations for {{eventDetails.name}}</span>
      </h2>
    </md-toolbar>
    
    <button class="btn btn-link" ng-click="exportToExcel('#table1')">
      <span class="glyphicon glyphicon-share"></span> Export to Excel
    </button>

    <table style="width:100%; font-family: arial, sans-serif; border-collapse: collapse;" id="table1">
      <thead>
        <tr class="registrationTableRow">
          <th class="registrationTable">No.</th>
          <th class="registrationTable">Team Name</th>
          <th class="registrationTable">Captain Name</th>
          <th class="registrationTable">Captain ID</th>
          <th class="registrationTable">Captain Email</th>
          <th class="registrationTable">Captain Phone</th>
          <th class="registrationTable">Team Members</th>
          <th class="registrationTable" ng-if="eventDetails.requireTDP">TDP</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="team in eventDetails.registeredTeams track by $index">
          <td class="registrationTable">{{ $index + 1 }}</td>
          <td class="registrationTable">{{ team.teamName }}</td>
          <td class="registrationTable">{{ team.teamLeader.name }}</td>
          <td class="registrationTable">{{ team.teamLeader.festID }}</td>
          <td class="registrationTable">{{ team.teamLeader.email }}</td>
          <td class="registrationTable">{{ team.teamLeader.phoneNumber }}</td>
          <td class="registrationTable"><p ng-repeat = "member in team.teamMembers track by $index">{{ member.name }} - {{member.festID}}<br></p></td>
          <td class="registrationTable"><div ng-repeat="file in files"><a ng-if="team._id == file.split('-')[1].split('.')[0]" ng-href="{{fileDownloadLink}}/{{file}}" target="_blank">{{file}}</a></div></td>
        </tr>
      </tbody>
    </table>

  </div>

</div>